* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:last-child {
  background: #25D366;
}

button:last-child:hover {
  background: #1ebe5d;
}

.container {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

h1 {
  margin-bottom: 15px;
  color: #0f172a;
}

p {
  margin-bottom: 20px;
  color: #334155;
}

button {
  padding: 12px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1e40af;
}

